In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
movies = pd.read_csv('movies.csv')

In [3]:
movies.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M

In [25]:
movies.loc[movies["title"].str.contains('Narnia')]

                                                  title  rating
333   The Chronicles of Narnia: The Lion, the Witch ...     6.9
848            The Chronicles of Narnia: Prince Caspian     6.5
1228  The Chronicles of Narnia: The Voyage of the Da...     6.3

In [5]:
books = pd.read_csv('books.csv', on_bad_lines='skip')

In [6]:
books

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

In [23]:
books.loc[books["title"].str.contains('Narnia')]

,title,average_rating,language_code,num_pages
3017,The Chronicles of Narnia CD Box Set,4.26,eng,31
3018,The Chronicles of Narnia (The Chronicles of Na...,4.26,eng,766
4832,The Collected Letters of C.S. Lewis Volume 3:...,4.47,eng,1840
5012,The Voyage of the “Dawn Treader” (The Chronicl...,4.09,eng,216
7521,Prince Caspian (Chronicles of Narnia #4),3.97,eng,223
9489,The Lion the Witch and the Wardrobe (Chronicl...,4.25,eng,48
9490,The Lion the Witch and the Wardrobe (Chronicl...,4.21,eng,189
9491,The Lion the Witch and the Wardrobe (Narnia),4.21,en-US,189
11110,Las Crónicas de Narnia,4.26,spa,816

Jrassic park, 
harry potter, 
dune, the hunger games , the godfather, sherlock holmes, narnia

In [8]:
movies = movies.drop(columns= ["poster","certificate","runtime","genre","about","director","stars","votes", "gross_earn"])

In [9]:
movies.head()

                      title  rating
0  The Shawshank Redemption     9.3
1           The Dark Knight     9.0
2                 Inception     8.8
3                Fight Club     8.8
4              Pulp Fiction     8.9

In [12]:
books = books.drop(columns= ["bookID", "authors" ,"isbn"	,"isbn13","ratings_count",	"text_reviews_count"	,"publication_date",	"publisher"])

In [13]:
books.head()

,title,average_rating,language_code,num_pages
0,Harry Potter and the Half-Blood Prince (Harry ...,4.57,eng,652
1,Harry Potter and the Order of the Phoenix (Har...,4.49,eng,870
2,Harry Potter and the Chamber of Secrets (Harry...,4.42,eng,352
3,Harry Potter and the Prisoner of Azkaban (Harr...,4.56,eng,435
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4.78,eng,2690